--
-- PostgreSQL database dump
--

\restrict 5TQkn0dBCFXpWgpedmAAdV38uSaliQQnbdZ1RbH49tQYKdaebPt5NpoDr0YxhpB

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO neondb_owner;

--
-- Name: phase_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.phase_groups (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    phase_id bigint NOT NULL,
    name character varying(40) NOT NULL,
    "position" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.phase_groups OWNER TO neondb_owner;

--
-- Name: phase_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.phase_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.phase_groups_id_seq OWNER TO neondb_owner;

--
-- Name: phase_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.phase_groups_id_seq OWNED BY public.phase_groups.id;


--
-- Name: phase_teams; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.phase_teams (
    id bigint NOT NULL,
    phase_id bigint NOT NULL,
    team_id bigint NOT NULL,
    group_id bigint,
    added_at timestamp with time zone NOT NULL
);


ALTER TABLE public.phase_teams OWNER TO neondb_owner;

--
-- Name: phase_teams_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.phase_teams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.phase_teams_id_seq OWNER TO neondb_owner;

--
-- Name: phase_teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.phase_teams_id_seq OWNED BY public.phase_teams.id;


--
-- Name: predictions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.predictions (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    tournament_id bigint NOT NULL,
    match_id bigint NOT NULL,
    user_id bigint NOT NULL,
    home_score integer NOT NULL,
    away_score integer NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    penalty_winner character varying(8),
    CONSTRAINT chk_prediction_penalty_winner CHECK (((penalty_winner IS NULL) OR ((penalty_winner)::text = ANY (ARRAY[('HOME'::character varying)::text, ('AWAY'::character varying)::text])))),
    CONSTRAINT chk_prediction_scores CHECK (((home_score >= 0) AND (away_score >= 0)))
);


ALTER TABLE public.predictions OWNER TO neondb_owner;

--
-- Name: predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.predictions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_id_seq OWNER TO neondb_owner;

--
-- Name: predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.predictions_id_seq OWNED BY public.predictions.id;


--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.push_subscriptions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.push_subscriptions OWNER TO neondb_owner;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.push_subscriptions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.push_subscriptions_id_seq OWNER TO neondb_owner;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.push_subscriptions_id_seq OWNED BY public.push_subscriptions.id;


--
-- Name: revoked_tokens; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.revoked_tokens (
    id bigint NOT NULL,
    jti uuid NOT NULL,
    user_public_id uuid,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone NOT NULL
);


ALTER TABLE public.revoked_tokens OWNER TO neondb_owner;

--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.revoked_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.revoked_tokens_id_seq OWNER TO neondb_owner;

--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.revoked_tokens_id_seq OWNED BY public.revoked_tokens.id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.teams (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    owner_id bigint,
    name character varying(80) NOT NULL,
    short_name character varying(5),
    badge_url character varying(500),
    primary_color character varying(7) NOT NULL,
    secondary_color character varying(7) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_system boolean DEFAULT false NOT NULL,
    team_type character varying(20) DEFAULT 'CLUB'::character varying NOT NULL,
    country_code character varying(10)
);


ALTER TABLE public.teams OWNER TO neondb_owner;

--
-- Name: teams_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.teams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_id_seq OWNER TO neondb_owner;

--
-- Name: teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.teams_id_seq OWNED BY public.teams.id;


--
-- Name: tournament_matches; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_matches (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    phase_id bigint NOT NULL,
    group_id bigint,
    round integer NOT NULL,
    tie_id uuid NOT NULL,
    home_team_id bigint NOT NULL,
    away_team_id bigint NOT NULL,
    scheduled_at timestamp with time zone,
    home_score integer,
    away_score integer,
    status character varying(15) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    home_penalties integer,
    away_penalties integer,
    match_type character varying(15) DEFAULT 'REGULAR'::character varying NOT NULL,
    notified_24h boolean DEFAULT false NOT NULL,
    notified_4h boolean DEFAULT false NOT NULL,
    notified_1h boolean DEFAULT false NOT NULL,
    notified_result boolean DEFAULT false NOT NULL,
    CONSTRAINT chk_match_penalties CHECK ((((home_penalties IS NULL) AND (away_penalties IS NULL)) OR ((home_penalties IS NOT NULL) AND (away_penalties IS NOT NULL) AND (home_penalties >= 0) AND (away_penalties >= 0) AND (home_penalties <> away_penalties)))),
    CONSTRAINT chk_match_teams_distinct CHECK ((home_team_id <> away_team_id))
);


ALTER TABLE public.tournament_matches OWNER TO neondb_owner;

--
-- Name: tournament_matches_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_matches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_matches_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_matches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_matches_id_seq OWNED BY public.tournament_matches.id;


--
-- Name: tournament_members; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_members (
    id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    user_id bigint NOT NULL,
    role character varying(15) NOT NULL,
    status character varying(10) NOT NULL,
    joined_at timestamp with time zone NOT NULL,
    left_at timestamp with time zone,
    banned_at timestamp with time zone
);


ALTER TABLE public.tournament_members OWNER TO neondb_owner;

--
-- Name: tournament_members_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_members_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_members_id_seq OWNED BY public.tournament_members.id;


--
-- Name: tournament_phases; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_phases (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    tournament_id bigint NOT NULL,
    name character varying(60) NOT NULL,
    "position" integer NOT NULL,
    phase_type character varying(15) NOT NULL,
    match_leg_mode character varying(15) NOT NULL,
    plays_inside_group_only boolean,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    match_generation_mode character varying(15) NOT NULL,
    has_third_place boolean NOT NULL,
    finalized_at timestamp with time zone
);


ALTER TABLE public.tournament_phases OWNER TO neondb_owner;

--
-- Name: tournament_phases_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_phases_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_phases_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_phases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_phases_id_seq OWNED BY public.tournament_phases.id;


--
-- Name: tournament_settings; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_settings (
    id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    win_points integer NOT NULL,
    draw_points integer NOT NULL,
    loss_points integer NOT NULL,
    exact_score_points integer NOT NULL,
    winner_points integer NOT NULL,
    wrong_points integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tournament_settings OWNER TO neondb_owner;

--
-- Name: tournament_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_settings_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_settings_id_seq OWNED BY public.tournament_settings.id;


--
-- Name: tournament_teams; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_teams (
    id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    team_id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tournament_teams OWNER TO neondb_owner;

--
-- Name: tournament_teams_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_teams_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_teams_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_teams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_teams_id_seq OWNED BY public.tournament_teams.id;


--
-- Name: tournament_tiebreak_criteria; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_tiebreak_criteria (
    id bigint NOT NULL,
    tournament_id bigint NOT NULL,
    criteria character varying(20) NOT NULL,
    "position" integer NOT NULL
);


ALTER TABLE public.tournament_tiebreak_criteria OWNER TO neondb_owner;

--
-- Name: tournament_tiebreak_criteria_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_tiebreak_criteria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_tiebreak_criteria_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_tiebreak_criteria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_tiebreak_criteria_id_seq OWNED BY public.tournament_tiebreak_criteria.id;


--
-- Name: tournament_zones; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournament_zones (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    phase_id bigint NOT NULL,
    name character varying(60) NOT NULL,
    from_position integer NOT NULL,
    to_position integer NOT NULL,
    selection_mode character varying(15) NOT NULL,
    best_ranked_count integer,
    next_phase_id bigint,
    "position" integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT chk_zone_best_ranked CHECK (((((selection_mode)::text = 'ALL'::text) AND (best_ranked_count IS NULL)) OR (((selection_mode)::text = 'BEST_RANKED'::text) AND (best_ranked_count IS NOT NULL) AND (from_position = to_position)))),
    CONSTRAINT chk_zone_positions CHECK (((from_position <= to_position) AND (from_position >= 1)))
);


ALTER TABLE public.tournament_zones OWNER TO neondb_owner;

--
-- Name: tournament_zones_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournament_zones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournament_zones_id_seq OWNER TO neondb_owner;

--
-- Name: tournament_zones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournament_zones_id_seq OWNED BY public.tournament_zones.id;


--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tournaments (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    owner_id bigint NOT NULL,
    name character varying(80) NOT NULL,
    description character varying(500),
    invite_code character varying(6) NOT NULL,
    privacy character varying(10) NOT NULL,
    status character varying(15) NOT NULL,
    max_participants integer,
    max_teams integer,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tournaments OWNER TO neondb_owner;

--
-- Name: tournaments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tournaments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournaments_id_seq OWNER TO neondb_owner;

--
-- Name: tournaments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tournaments_id_seq OWNED BY public.tournaments.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    public_id uuid NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(180) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: phase_groups id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_groups ALTER COLUMN id SET DEFAULT nextval('public.phase_groups_id_seq'::regclass);


--
-- Name: phase_teams id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams ALTER COLUMN id SET DEFAULT nextval('public.phase_teams_id_seq'::regclass);


--
-- Name: predictions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions ALTER COLUMN id SET DEFAULT nextval('public.predictions_id_seq'::regclass);


--
-- Name: push_subscriptions id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.push_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.push_subscriptions_id_seq'::regclass);


--
-- Name: revoked_tokens id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.revoked_tokens ALTER COLUMN id SET DEFAULT nextval('public.revoked_tokens_id_seq'::regclass);


--
-- Name: teams id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams ALTER COLUMN id SET DEFAULT nextval('public.teams_id_seq'::regclass);


--
-- Name: tournament_matches id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches ALTER COLUMN id SET DEFAULT nextval('public.tournament_matches_id_seq'::regclass);


--
-- Name: tournament_members id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_members ALTER COLUMN id SET DEFAULT nextval('public.tournament_members_id_seq'::regclass);


--
-- Name: tournament_phases id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_phases ALTER COLUMN id SET DEFAULT nextval('public.tournament_phases_id_seq'::regclass);


--
-- Name: tournament_settings id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_settings ALTER COLUMN id SET DEFAULT nextval('public.tournament_settings_id_seq'::regclass);


--
-- Name: tournament_teams id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_teams ALTER COLUMN id SET DEFAULT nextval('public.tournament_teams_id_seq'::regclass);


--
-- Name: tournament_tiebreak_criteria id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_tiebreak_criteria ALTER COLUMN id SET DEFAULT nextval('public.tournament_tiebreak_criteria_id_seq'::regclass);


--
-- Name: tournament_zones id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones ALTER COLUMN id SET DEFAULT nextval('public.tournament_zones_id_seq'::regclass);


--
-- Name: tournaments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments ALTER COLUMN id SET DEFAULT nextval('public.tournaments_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: phase_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: phase_teams; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: predictions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: revoked_tokens; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_matches; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_members; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_phases; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_settings; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_teams; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_tiebreak_criteria; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournament_zones; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: phase_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.phase_groups_id_seq', 12, true);


--
-- Name: phase_teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.phase_teams_id_seq', 96, true);


--
-- Name: predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.predictions_id_seq', 812, true);


--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.push_subscriptions_id_seq', 23, true);


--
-- Name: revoked_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.revoked_tokens_id_seq', 21, true);


--
-- Name: teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.teams_id_seq', 84, true);


--
-- Name: tournament_matches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_matches_id_seq', 142, true);


--
-- Name: tournament_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_members_id_seq', 23, true);


--
-- Name: tournament_phases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_phases_id_seq', 6, true);


--
-- Name: tournament_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_settings_id_seq', 8, true);


--
-- Name: tournament_teams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_teams_id_seq', 75, true);


--
-- Name: tournament_tiebreak_criteria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_tiebreak_criteria_id_seq', 73, true);


--
-- Name: tournament_zones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournament_zones_id_seq', 4, true);


--
-- Name: tournaments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tournaments_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.users_id_seq', 17, true);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: phase_groups phase_groups_phase_id_position_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_groups
    ADD CONSTRAINT phase_groups_phase_id_position_key UNIQUE (phase_id, "position");


--
-- Name: phase_groups phase_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_groups
    ADD CONSTRAINT phase_groups_pkey PRIMARY KEY (id);


--
-- Name: phase_groups phase_groups_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_groups
    ADD CONSTRAINT phase_groups_public_id_key UNIQUE (public_id);


--
-- Name: phase_teams phase_teams_phase_id_team_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams
    ADD CONSTRAINT phase_teams_phase_id_team_id_key UNIQUE (phase_id, team_id);


--
-- Name: phase_teams phase_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams
    ADD CONSTRAINT phase_teams_pkey PRIMARY KEY (id);


--
-- Name: predictions predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_pkey PRIMARY KEY (id);


--
-- Name: predictions predictions_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_public_id_key UNIQUE (public_id);


--
-- Name: predictions predictions_user_id_match_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_user_id_match_id_key UNIQUE (user_id, match_id);


--
-- Name: push_subscriptions push_subscriptions_endpoint_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_endpoint_key UNIQUE (endpoint);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: revoked_tokens revoked_tokens_jti_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT revoked_tokens_jti_key UNIQUE (jti);


--
-- Name: revoked_tokens revoked_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.revoked_tokens
    ADD CONSTRAINT revoked_tokens_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: teams teams_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_public_id_key UNIQUE (public_id);


--
-- Name: tournament_matches tournament_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_pkey PRIMARY KEY (id);


--
-- Name: tournament_matches tournament_matches_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_public_id_key UNIQUE (public_id);


--
-- Name: tournament_members tournament_members_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_members
    ADD CONSTRAINT tournament_members_pkey PRIMARY KEY (id);


--
-- Name: tournament_members tournament_members_tournament_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_members
    ADD CONSTRAINT tournament_members_tournament_id_user_id_key UNIQUE (tournament_id, user_id);


--
-- Name: tournament_phases tournament_phases_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_phases
    ADD CONSTRAINT tournament_phases_pkey PRIMARY KEY (id);


--
-- Name: tournament_phases tournament_phases_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_phases
    ADD CONSTRAINT tournament_phases_public_id_key UNIQUE (public_id);


--
-- Name: tournament_phases tournament_phases_tournament_id_position_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_phases
    ADD CONSTRAINT tournament_phases_tournament_id_position_key UNIQUE (tournament_id, "position");


--
-- Name: tournament_settings tournament_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_settings
    ADD CONSTRAINT tournament_settings_pkey PRIMARY KEY (id);


--
-- Name: tournament_settings tournament_settings_tournament_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_settings
    ADD CONSTRAINT tournament_settings_tournament_id_key UNIQUE (tournament_id);


--
-- Name: tournament_teams tournament_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_pkey PRIMARY KEY (id);


--
-- Name: tournament_teams tournament_teams_tournament_id_team_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_tournament_id_team_id_key UNIQUE (tournament_id, team_id);


--
-- Name: tournament_tiebreak_criteria tournament_tiebreak_criteria_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_tiebreak_criteria
    ADD CONSTRAINT tournament_tiebreak_criteria_pkey PRIMARY KEY (id);


--
-- Name: tournament_tiebreak_criteria tournament_tiebreak_criteria_tournament_id_criteria_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_tiebreak_criteria
    ADD CONSTRAINT tournament_tiebreak_criteria_tournament_id_criteria_key UNIQUE (tournament_id, criteria);


--
-- Name: tournament_tiebreak_criteria tournament_tiebreak_criteria_tournament_id_position_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_tiebreak_criteria
    ADD CONSTRAINT tournament_tiebreak_criteria_tournament_id_position_key UNIQUE (tournament_id, "position");


--
-- Name: tournament_zones tournament_zones_phase_id_position_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones
    ADD CONSTRAINT tournament_zones_phase_id_position_key UNIQUE (phase_id, "position");


--
-- Name: tournament_zones tournament_zones_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones
    ADD CONSTRAINT tournament_zones_pkey PRIMARY KEY (id);


--
-- Name: tournament_zones tournament_zones_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones
    ADD CONSTRAINT tournament_zones_public_id_key UNIQUE (public_id);


--
-- Name: tournaments tournaments_invite_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_invite_code_key UNIQUE (invite_code);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id);


--
-- Name: tournaments tournaments_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_public_id_key UNIQUE (public_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_public_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_public_id_key UNIQUE (public_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_matches_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_matches_group_id ON public.tournament_matches USING btree (group_id);


--
-- Name: idx_matches_phase_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_matches_phase_id ON public.tournament_matches USING btree (phase_id);


--
-- Name: idx_matches_phase_round; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_matches_phase_round ON public.tournament_matches USING btree (phase_id, round);


--
-- Name: idx_matches_tie_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_matches_tie_id ON public.tournament_matches USING btree (tie_id);


--
-- Name: idx_members_tournament_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_members_tournament_id ON public.tournament_members USING btree (tournament_id);


--
-- Name: idx_members_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_members_user_id ON public.tournament_members USING btree (user_id);


--
-- Name: idx_phase_groups_phase_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phase_groups_phase_id ON public.phase_groups USING btree (phase_id);


--
-- Name: idx_phase_teams_group_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phase_teams_group_id ON public.phase_teams USING btree (group_id);


--
-- Name: idx_phase_teams_phase_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phase_teams_phase_id ON public.phase_teams USING btree (phase_id);


--
-- Name: idx_phase_teams_team_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phase_teams_team_id ON public.phase_teams USING btree (team_id);


--
-- Name: idx_phases_public_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phases_public_id ON public.tournament_phases USING btree (public_id);


--
-- Name: idx_phases_tournament_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_phases_tournament_id ON public.tournament_phases USING btree (tournament_id);


--
-- Name: idx_predictions_match_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_predictions_match_id ON public.predictions USING btree (match_id);


--
-- Name: idx_predictions_tournament_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_predictions_tournament_id ON public.predictions USING btree (tournament_id);


--
-- Name: idx_predictions_tournament_user; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_predictions_tournament_user ON public.predictions USING btree (tournament_id, user_id);


--
-- Name: idx_predictions_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_predictions_user_id ON public.predictions USING btree (user_id);


--
-- Name: idx_push_subscriptions_user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_push_subscriptions_user_id ON public.push_subscriptions USING btree (user_id);


--
-- Name: idx_revoked_tokens_expires_at; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_revoked_tokens_expires_at ON public.revoked_tokens USING btree (expires_at);


--
-- Name: idx_teams_owner_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_teams_owner_id ON public.teams USING btree (owner_id);


--
-- Name: idx_teams_public_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_teams_public_id ON public.teams USING btree (public_id);


--
-- Name: idx_tiebreak_tournament_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tiebreak_tournament_id ON public.tournament_tiebreak_criteria USING btree (tournament_id);


--
-- Name: idx_tournament_teams_team_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournament_teams_team_id ON public.tournament_teams USING btree (team_id);


--
-- Name: idx_tournament_teams_tournament_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournament_teams_tournament_id ON public.tournament_teams USING btree (tournament_id);


--
-- Name: idx_tournaments_invite_code; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournaments_invite_code ON public.tournaments USING btree (invite_code);


--
-- Name: idx_tournaments_owner_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournaments_owner_id ON public.tournaments USING btree (owner_id);


--
-- Name: idx_tournaments_public_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournaments_public_id ON public.tournaments USING btree (public_id);


--
-- Name: idx_tournaments_status_privacy; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_tournaments_status_privacy ON public.tournaments USING btree (status, privacy) WHERE (active = true);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_public_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_users_public_id ON public.users USING btree (public_id);


--
-- Name: idx_zones_next_phase_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_zones_next_phase_id ON public.tournament_zones USING btree (next_phase_id);


--
-- Name: idx_zones_phase_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_zones_phase_id ON public.tournament_zones USING btree (phase_id);


--
-- Name: uq_phase_groups_phase_lower_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX uq_phase_groups_phase_lower_name ON public.phase_groups USING btree (phase_id, lower((name)::text));


--
-- Name: uq_teams_owner_name_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX uq_teams_owner_name_active ON public.teams USING btree (owner_id, lower((name)::text)) WHERE (active = true);


--
-- Name: uq_teams_system_name_active; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX uq_teams_system_name_active ON public.teams USING btree (lower((name)::text)) WHERE ((is_system = true) AND (active = true));


--
-- Name: phase_groups phase_groups_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_groups
    ADD CONSTRAINT phase_groups_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.tournament_phases(id) ON DELETE CASCADE;


--
-- Name: phase_teams phase_teams_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams
    ADD CONSTRAINT phase_teams_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.phase_groups(id) ON DELETE SET NULL;


--
-- Name: phase_teams phase_teams_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams
    ADD CONSTRAINT phase_teams_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.tournament_phases(id) ON DELETE CASCADE;


--
-- Name: phase_teams phase_teams_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.phase_teams
    ADD CONSTRAINT phase_teams_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: predictions predictions_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.tournament_matches(id) ON DELETE CASCADE;


--
-- Name: predictions predictions_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: predictions predictions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teams teams_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: tournament_matches tournament_matches_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.teams(id);


--
-- Name: tournament_matches tournament_matches_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.phase_groups(id) ON DELETE SET NULL;


--
-- Name: tournament_matches tournament_matches_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.teams(id);


--
-- Name: tournament_matches tournament_matches_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_matches
    ADD CONSTRAINT tournament_matches_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.tournament_phases(id) ON DELETE CASCADE;


--
-- Name: tournament_members tournament_members_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_members
    ADD CONSTRAINT tournament_members_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_members tournament_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_members
    ADD CONSTRAINT tournament_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tournament_phases tournament_phases_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_phases
    ADD CONSTRAINT tournament_phases_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_settings tournament_settings_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_settings
    ADD CONSTRAINT tournament_settings_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_teams tournament_teams_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: tournament_teams tournament_teams_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_teams
    ADD CONSTRAINT tournament_teams_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_tiebreak_criteria tournament_tiebreak_criteria_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_tiebreak_criteria
    ADD CONSTRAINT tournament_tiebreak_criteria_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id) ON DELETE CASCADE;


--
-- Name: tournament_zones tournament_zones_next_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones
    ADD CONSTRAINT tournament_zones_next_phase_id_fkey FOREIGN KEY (next_phase_id) REFERENCES public.tournament_phases(id) ON DELETE SET NULL;


--
-- Name: tournament_zones tournament_zones_phase_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournament_zones
    ADD CONSTRAINT tournament_zones_phase_id_fkey FOREIGN KEY (phase_id) REFERENCES public.tournament_phases(id) ON DELETE CASCADE;


--
-- Name: tournaments tournaments_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5TQkn0dBCFXpWgpedmAAdV38uSaliQQnbdZ1RbH49tQYKdaebPt5NpoDr0YxhpB

